body{
  background-color: $gray-lighter;
}

.site-content, .site-footer {
  background-color: white;
}

// HOME BACKGROUND
.site-bg {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    @include media-breakpoint-up(lg) {min-height: 700px}
    margin-top: -$header-height;

    //background-color: $theme-bg;
    //background-image: url(../images/site-bg.jpg);

    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: -2;

    //filter: blur(2px);
}

.page-header-bg {
    position: absolute;
    width: 100%;
    min-height: $header-height + 250px;
    margin-top: -$header-height;

    //background-color: $theme-bg;
    //background-image: url(../images/site-bg.jpg);

    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: -1;
}

.pattern-divider {
  height: 25px;
  //background-color: $theme-accent-dark;
  background-image: url(../images/pattern-tile.svg);
  background-repeat: repeat-x;


}


.site-content {
  background-image: url("/Content/Images/map-pattern-light.jpg");
  background-position: bottom right;
  background-repeat: no-repeat;
}

.detroit-projects-data, .us-projects-data, .worldwide-projects-data{
  .site-content { 
      background-image: url("/Content/Images/map-pattern-light-top.jpg");
      background-position: top left;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
}

.contact {
  .site-content {
    background-size: 50%;
  }
}