// **** THEME BUTTONS **** //

.btn-theme {
  border: 0 none;
  padding: 14px 24px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 8px;
  text-decoration: none !important;

  &:hover, &:focus, &:active {
    text-decoration: none !important;
    outline: 0 none;
  }
}

.btn-theme-65 {
    transform: scale(.65);
    transform-origin: left;
}

.btn-theme-75 {
    transform: scale(.75);
    transform-origin: left;
}

.btn-theme-primary {
    background: $theme-primary;
    color: #ffffff;

    &:hover, &:focus, &:active {
        color: #FFFFFF;
        box-shadow: 0 0 0 5px $theme-primary-dark;
    }
}

.btn-theme-secondary {
    background: $theme-secondary;
    color: #ffffff;

    &:hover, &:focus, &:active {
        color: #FFFFFF;
        box-shadow: 0 0 0 5px $theme-secondary-dark;
    }
}

.btn-theme-tertiary {
    background: $theme-tertiary;
    color: #ffffff;

    &:hover, &:focus, &:active {
        color: #FFFFFF;
        box-shadow: 0 0 0 5px $theme-tertiary-dark;
    }
}

.btn-theme-accent {
    background: $theme-accent;
    color: #ffffff;

    &:hover, &:focus, &:active {
        color: #FFFFFF;
        box-shadow: 0 0 0 5px $theme-accent-dark;
    }
}

.btn-theme-reversed {
    background: #FFFFFF;
    color: $theme-primary;

    &:hover, &:focus, &:active {
        background: $theme-primary;
        color: #FFFFFF;
        box-shadow: 0 0 0 5px #FFFFFF;
    }
}

// **** OUTLINE BUTTONS **** //

.btn-theme-outline {
  padding: 12px 20px;
  font-weight: 800;
  border-radius: 8px;
  border: 2px solid;
  letter-spacing: 1px;
  text-transform: uppercase;

  &:hover, &:focus, &:active {
    text-decoration: none !important;
    outline: 0 none;
  }
}

.btn-theme-outline-primary {
    border-color: $theme-primary;
    color: $theme-primary;


    &:hover, &:focus, &:active, &.active  {
        background: $theme-primary;
        color: #FFFFFF;
        box-shadow: 0 0 0 5px $theme-primary-dark;
    }
}

.btn-theme-outline-secondary {
    border-color: $theme-secondary;
    color: $theme-secondary;


    &:hover, &:focus, &:active, &.active  {
        background: $theme-secondary;
        color: #FFFFFF;
        box-shadow: 0 0 0 5px $theme-secondary-dark;
    }
}

.btn-theme-outline-tertiary {
    border-color: $theme-tertiary;
    color: $theme-tertiary;


    &:hover, &:focus, &:active, &.active  {
        background: $theme-tertiary;
        color: #FFFFFF;
        box-shadow: 0 0 0 5px $theme-tertiary-dark;
    }
}

.btn-theme-outline-accent {
    border-color: $theme-accent;
    color: $theme-accent;


    &:hover, &:focus, &:active, &.active  {
        background: $theme-accent;
        color: #FFFFFF;
        box-shadow: 0 0 0 5px $theme-accent-dark;
    }
}


.btn-theme-outline-reversed {
    border-color: #FFFFFF;
    color: #FFFFFF;

    &:hover, &:focus, &:active  {
        background: $theme-secondary;
        border-color: $theme-secondary;
        color: #FFFFFF;
        box-shadow: 0 0 0 5px $theme-secondary-dark;
    }
}

// **** SOCIAL BUTTONS **** //

.btn-theme-social {
    border: 0 none;
    padding: 14px 24px;
    font-weight: 800;
    letter-spacing: 1px;
    min-width: 90%;
    font-size: 115%;
    text-transform: uppercase;
    border-radius: 80px;
    background: $theme-accent;
    color: #ffffff;
    //border: 5px solid #F2F0DA;
    border: 5px solid #FFFFFF;

    &:hover, &:focus, &:active {
        background: $theme-accent-dark;
        color: #FFFFFF;
        outline:  0 none;
        text-decoration: none !important;
    }

    &::before, &::after {
        top: -4px
    }

}

.facebook {
  background-color: $facebook;

  &:hover, &:focus, &:active {
      background: darken($facebook, 20%);
      color: #FFFFFF;
      border: 5px solid lighten($facebook, 10%);
  }
}

.youtube {
  background-color: $youtube;

  &:hover, &:focus, &:active {
      background: darken($youtube, 20%);
      color: #FFFFFF;
      border: 5px solid lighten($youtube, 10%);
  }
}

.twitter {
  background-color: $twitter;

  &:hover, &:focus, &:active {
      background: darken($twitter, 20%);
      color: #FFFFFF;
      border: 5px solid lighten($twitter, 10%);
  }
}

.instagram {
  background-color: $instagram;

  &:hover, &:focus, &:active {
      background: darken($instagram, 20%);
      color: #FFFFFF;
      border: 5px solid lighten($instagram, 10%);
  }
}

.linkedin {
    background-color: $linkedin;
  
    &:hover, &:focus, &:active {
        background: darken($linkedin, 20%);
        color: #FFFFFF;
        border: 5px solid lighten($linkedin, 10%);
    }
  }

  .newsletter {
    background-color: $theme-primary;
  
    &:hover, &:focus, &:active {
        background: darken($theme-primary, 20%);
        color: #FFFFFF;
        border: 5px solid lighten($theme-primary, 10%);
    }
  }