@media (min-width: 1628px){
  .site-header, .site-content, .site-footer {
    width: 1628px !important;
    margin: 0 auto;
  }
}

.site-header, .homepage-intro {
  background-position-x: 60%;
  
  @include media-breakpoint-up(xl){
    background-size: cover;
    background-position-x: center;
  }
}

.site-header {
  background-color: $msu-green;
  background-image: url(/Content/Images/map-pattern.jpg);
  background-repeat: no-repeat;
  background-position-y: center center;
  z-index: 1000;
  position: relative;
  padding-bottom: $header-padding-bottom;
  border-bottom: 4px solid $theme-link-highlight;

  @media print {
    padding-bottom: 0;
  }
}

.site-nav {
  position: relative;
  z-index: 1000;
  padding: 12px;
  display: block;
  @include media-breakpoint-up(lg){display: flex;}

  @media print {display: none;}

  .nav-link{
    font-weight: bold;
  }

  li {
    @include media-breakpoint-down(md){border-bottom: 1px solid #444;}

    a {
    	color: white;
    	font-weight: bold;
    	font-size: 14px;
      padding: 4px 10px;
      margin-right: 2px;
      position: relative;
      z-index: 10;
      @include media-breakpoint-up(xl){margin-right: 10px;}

      text-decoration: none !important;
      display: flex;
      align-items: center;

      &:hover, &:focus {
        background-color: $theme-primary-dark !important;
        @include media-breakpoint-down(md){ background-color: transparent !important; }
        color: white;
        position: relative;
        z-index: 1;

        &::before { color: inherit; }
        &::after { color: inherit; }
      }

      &.active {
        background-color: $theme-primary;
        color: white;
        //border-radius: 50px;

        &:hover, &:focus {
          background-color: $theme-primary-dark;
          color:white;
        }
      }
    }

    &:last-child {
      a {margin-right: 0;}
    }
  }
  
  .dropdown-menu {
    background-color: $theme-primary-dark !important;
    border: none !important;
    padding: 15px 10px;
    top: 0px !important;
    width: calc(100% - 26px) !important;
    position: relative;

    span {
      border-left: 3px solid $theme-primary;
      display: block;
      margin-left: 5px;
      padding-left: 10px;

      a[href="#"]{
        opacity: .5;
      }
    }

    @include media-breakpoint-up(md){
      top: 6px !important;
      width: auto !important;
      border-top: none !important;
    }
  }

  .dropdown-item {
    &:hover, &:focus {
      background-color: $theme-primary !important;
    }
  }
}

.dm-target{
  @include media-breakpoint-down(md){
    margin-left: 15px;
  }
}

.page-header {
  padding-top: 35px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 30px;
}

.map {
  margin-top: -30px;
}

main {
  padding-bottom: 60px !important;
}

.project-search {
  margin-bottom: 30px;

  input, select {
    margin-right: 6px;
    @include media-breakpoint-down(sm){
      margin-bottom: 8px;
    }
  }

  input {
    @include media-breakpoint-up(lg){
      min-width: 280px;
    }

    @include media-breakpoint-up(xl){
      min-width: 340px;
    }
  }

  .btn {
    padding: 6px;

    @include media-breakpoint-down(sm) {
      display: block;
      width: 100%;
    }
  }
}

.project-data {
  .row {
    border: 1px solid $faded-green-30;
    border-radius: 8px;
    background-color: #e7eceb;
    padding: 20px 10px;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 24px;

    a {color: $theme-primary;}
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin-right: 15px;
  }

  p {
    margin-bottom: 0;
    border-top: .5px solid $gray-light;
    padding-top: 5px;
    margin-top: 5px;
    color: rgb(118, 118, 118);
  }

  i {opacity: 40%;}

  .btn {
    margin-top: 5px;
    transform: scale(.65);
    transform-origin: left;
  }
}

.project-meta {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin-right: 15px;
  }
}

.contact-card {
  background-color: #fffcdf;
  border-color: darken($color: #fffcdf, $amount: 40%);

  .name {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 0;
  }

  .title {
    font-style: italic;
    margin-bottom: 2px;
    font-size: 14px;
  }
}

.project-report{

  .page-title {
    display: block;
  }

}

.map-views {
  .map-view-item {
    display: flex;
    padding: 15px;
    padding-right: 45px;
    border: 1px solid $faded-green-30;
    border-radius: 8px;
    background-color: #e7eceb;
    background-image: url("/Content/Images/map-view-item-bg.svg");
    background-position: right top;
    background-repeat: no-repeat;
    margin-bottom: 15px;
    max-width: 100%;

    @include media-breakpoint-up(lg){
      margin-right: 15px;
      max-width: calc(50% - 15px);
    }

    img {
      width: 60px;
      height: 60px;
      margin-right: 15px;
      margin-bottom: 15px;
      border-radius: 4px;

      @include media-breakpoint-up(md){
        width: 100px;
        height: 100px;
      }
    }

    h2 {
      margin: 0;
      font-size: 1.5rem;

      a {color: $theme-primary;}
    }

    p {
      margin: 0;
    }
  }
}

.catalog-views {
  .catalog-view-item {
    display: flex;
    padding: 15px;
    border: 1px solid $faded-green-30;
    border-radius: 8px;
    background-color: #e7eceb;
    margin: 15px;
    max-width: calc(100% - 30px);
    align-items: center;

    @include media-breakpoint-up(md){
      margin-left: 5px;
      margin-right: 5px;
      display: block;
    }

    @include media-breakpoint-up(lg){
        margin-left: 7.5px;
        margin-right: 7.5px;
        display: block;
    }

    &:hover {
        margin-bottom: 15px;
        border: 1px solid $faded-green-30;
    }

    h2 {
      margin: 0;
      font-size: 1.5rem;

      a {color: $theme-primary;}
    }

    p {
      margin: 0;
    }
  }
}

.page-item.active .page-link {
  background-color: $theme-primary;
  border-color: $theme-primary-dark;
}

.page-link {
  color: $theme-primary;

  &:hover {
    color: $theme-primary;
    border-width: 1px !important;
  }
}

.catalog-search-tags {
  ul {
    @include media-breakpoint-up (md){
      column-count: 2;
    }
  }

  .list-inline-item {
    display: inline-block;   
    width: 100%;
    
    .btn {
      justify-content: space-between;
      text-align: left;
    }
    
    .btn-tag {
      font-size: 1rem;
      width: 100%;
    }
  }
}

.search-filter {
  background-color: #fff3cd;
  padding: 30px;
  padding-top: 0;
  margin-top: -30px;
  margin-bottom: 20px;
  border-radius: 0 0 8px 8px;

  h2 {
    color: $theme-primary;
  }

  h3 {
    color: $gray-dark;
    font-size: 1.125rem;
  }

  .btn-std {
    a:hover {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }
}

.results-map {
  min-width: 240px;
  max-height: 240px;

  @include media-breakpoint-up(lg){
    min-width: 280px;
    max-height: 320px;
  }
}