// #INTRO

.homepage-intro {
    background-color: $theme-tertiary;
    background-image: url("/Content/Images/projects-bg.jpg");
    background-repeat: no-repeat;
    //background-position-y: calc(#{$header-bg-shift} - #{$header-height} - #{$header-padding-bottom});
    background-position: center center;
    //z-index: 1000;
    position: relative;
    padding-bottom: 30px;
    min-height: 600px;
    @include media-breakpoint-up(sm){min-height: 500px;}
    display: flex;
    align-items: center;
    color: white;
    

    p {
        font-size: 20px;
    }

}

.intro-text {
    padding: 10px;
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    margin-left: -10px;;
    color: white;

    @include media-breakpoint-up(lg){
        font-size: 40px;
        line-height: 52px;
    }

    @include media-breakpoint-up(xl){
        font-size: 48px;
    }
}


.data-views {
    position: relative;
    top: -50px;
}

.map-view, .catalog-view {
    background-color: #fff4e7;
    padding: 50px 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 18px #AAA;
    position: relative;
    z-index: 100;
    margin: 15px;
    box-sizing: border-box;
    color: $gray-dark;

    @include media-breakpoint-up(lg){
        padding: 50px 60px;
    }

    @include media-breakpoint-up(xl){
        padding: 50px 80px;
    }

    &:hover {
        transform: scale(1.02);
        transform-origin: center;
        transition: all 0.15s ease-in-out;
        color: $gray-dark;
    }
}

.map-view {
    background-image: url("/Content/Images/map-view-bg.svg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.catalog-view {
    background-image: url("/Content/Images/catalog-view-bg.svg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.data-view{
    text-align: center;
    font-size: .9rem;
    line-height: 1.8;

    i {
        opacity: 30%;
        font-size: 3rem;
        display: inline-block;
        line-height: 0;
    }

    h2 {
        //font-size: 24px;
        margin: 0;
    }

    .btn {
        transform: scale(.65);
        transform-origin: top;
    }
}

.homepage-map-views {

    .map-view-item {
        display: flex;
        padding: 15px;
        border: 1px solid $faded-green-30;
        border-radius: 8px;
        background-color: #e7eceb;
        margin: 15px;
        max-width: calc(100% - 30px);
        align-items: center;
    
        @include media-breakpoint-up(md){
          margin-left: 5px;
          margin-right: 5px;
          display: block;
        }

        @include media-breakpoint-up(lg){
            margin-left: 7.5px;
            margin-right: 7.5px;
            display: block;
        }

        &:hover {
            margin-bottom: 15px;
            border: 1px solid $faded-green-30;
        }
    
        img {
          width: 90px;
          height: auto;
          margin-right: 15px;
          margin-bottom: 15px;
          border-radius: 4px;

          @include media-breakpoint-up(md){ width: 60px; }
          @include media-breakpoint-up(lg){ width: 90px; }
        }
    
        h2 {
          margin: 0;
          font-size: 1rem;

          @include media-breakpoint-up(lg){
            font-size: 1.25rem;
          }
        }

        p{
            font-size: .8rem;
            margin: 0;

            @include media-breakpoint-up(lg){
                font-size: 1rem;
            }
        }
    }
}