// Create new button classes for tags.
// Use like this:
// <a class="btn btn-tag btn-tag-area">... <span class="badge badge-outline badge-outline-area">...</span></a>
// <a class="btn btn-tag btn-outline-tag-area">...</a>
  
// Colors for tags
$tag-colors: (
    "area":         $color6,
    "college":      $color3,
    "department":   $color4,
    "county":       $color6
);

@each $name, $value in $tag-colors {
    .btn.btn-tag-#{$name} {
        @include button-variant($value, $value);
        a { color:#fff; }
      }
}
  
@each $name, $value in $tag-colors {
    .btn.btn-outline-tag-#{$name} {
        @include button-outline-variant($value);
    }
}

// Define a smaller button for tags
.btn-tag {
  @include button-size(0.2rem, 0.3rem, $font-size-base * .75, $btn-line-height-sm, $btn-border-radius-sm);
  border-width: $btn-border-width * 2;
}

// Solid and outline badges for tags
@each $name, $value in $tag-colors {
  .badge-#{$name} {
    @include badge-variant($value);
  }
  .badge-outline-#{$name} {
    border: $border-width solid $value;
    color: $value;
    background: transparent;
  }
}

.btn-tag .badge {
    top: 0;
    margin: 0 1em;
    border-width: $border-width;
    border-style: solid;
}

// Solid tag with outline badge:
@each $name, $value in $tag-colors {
  .btn-tag-#{$name} {
    .badge-outline-#{$name} {
      background-color: #fff;
    }
  }
}

// Outline tag with outline badge:
@each $name, $value in $tag-colors {
  .btn-outline-tag-#{$name} {
    &:hover, &:focus {
      .badge-outline-#{$name} {
        border-color: #fff;
        color: #fff;
      }
    }
  }
}

// Outline tag with solid badge: reverse on hover
@each $name, $value in $tag-colors {
  .btn-outline-tag-#{$name} {
    &:hover, &:focus {
      .badge-#{$name} {
        color: $value;
        background: #fff;
      }
    }
  }
}

// Remove button dots in _design.scss
.btn-tag {
  &::before { font-display: unset !important; content: none !important; }
  &::after { font-display: unset !important; content: none !important; }
  &:hover, &:focus {
      &::before { font-display: unset !important; content: none !important; }
      &::after { font-display: unset !important; content: none !important; }
  }
}

// A tag in a span is non-clickable. It may contain something clickable, like a remove button.
span.btn:not(:disabled):not(.disabled).btn-tag {
  cursor: default;
}


ul.tags {

  li.list-inline-item {
      margin: 0.4em 0 0 0;
  }
}

@media print {
  [class^=btn-tag-] { color: black;}
}