$gotham: 'Gotham SSm A', 'Gotham SSm B', arial, sans-serif;

.gotham {font-family: $gotham;}

$flow: 'Flow Rounded', cursive;

.flow {font-family: 'Flow Rounded', cursive;}

$source-serif: 'source-serif-pro', serif;

.source-serif-pro {font-family: $source-serif;}

body {
	font: 16px/28px $gotham;
	color: $gray-dark;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-moz-osx-font-smoothing: grayscale; /* Fix for firefox rendering */
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 800;
}

h1 {
	font: 48px/34px; text-transform: capitalize;
	color: $msu-green;
}

h2 {
	font: 30px/32px;
	//color: $theme-primary;
	color: $gray;
}

h3 {
	color: $theme-primary;
}

h4 {
	color: lighten($gray, $amount: 5%);
}

.fax a {
    color: $gray !important;
}

abbr {
	text-decoration: none;
}

.fw-300 { font-weight: 300;}
.fw-400 { font-weight: 400;}
.fw-500 { font-weight: 500;}
.fw-600 { font-weight: 600;}
.fw-700 { font-weight: 700;}
.fw-800 { font-weight: 800;}